<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - MVC Web Performance Helpers</title>
        @Styles.Render("~/bundles/css")
    </head>
    <body>
        @RenderBody()
    </body>
</html>
