@{
    ViewBag.Title = "CdnScriptFallback";
}
<section>

    <h1>CDN Script Fallback</h1>
    <p>This one is a freebee and is included as part of the Microsoft.Web.Optimization Framework (version 1.1+).</p>
    <pre class="prettyprint linenums">
bundles.UseCdn = true;
 
var jquery = 
        new ScriptBundle("~/bundles/jquery", "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js")
            .Include("~/Scripts/jquery-{version}.js");
jquery.CdnFallbackExpression = "window.jQuery";

bundles.Add(jquery);</pre>

    <p>This will output something similar to the following depending on your project setup etc.</p>
    
    <pre class="prettyprint linenums lang-html">
&lt;script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"&gt;&lt;/script&gt;
&lt;script&gt;
    (window.jQuery) || document.write('&lt;script src="/bundles/jquery"&gt;&lt;/script&gt;');
&lt;/script&gt;</pre>
</section>
@section Scripts
{
    @Html.Partial("_PrettyPrintScripts")
}
