@{
    ViewBag.Title = "Inline Critical JavaScript";
}
<section>
    <h1>Inline Critical JavaScript</h1>
    <p>Similar to the inline CSS helper, but for your javascript. Allows you inline critical JS code that you don't want to have to make an additional request for.</p>
    <p>The following is the loadJS and loadCSS by the Filament Group being added to our page inline, compressed and minified by the Microsoft Web Optimization Framework.</p>
    <pre class="prettyprint linenums lang-css">
@Html.Encode(ScriptsHelper.RenderScriptInline("~/bundles/js/asset-loader"))</pre>
</section>

@section Scripts
{
    @Html.Partial("_PrettyPrintScripts")
}
