@using WebPerformance.BundlingExtensions

@{
    ViewBag.Title = "InlineCriticalCss";
}
<section>
    <h1>Inline Critical CSS</h1>
    <p>As recommende by google</p>
    <pre>
@Html.Encode(@BundleHelper.RenderStylesInline("~/bundles/css"))
    </pre>
</section>