@{
    ViewBag.Title = "Inline Critical CSS";
}
<section>
    <h1>Inline Critical CSS</h1>
    <p>As recommende by google</p>
    <pre class="prettyprint linenums lang-css">
@Html.Encode(StyleHelper.RenderStyleInline("~/bundles/css"))</pre>
</section>

@section Scripts
{
    @Html.Partial("_PrettyPrintScripts")
}
