body {
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.header {
    padding: 30px 0;
    background: whitesmoke;
    margin-bottom: 30px;
}

    .header .btn {
        margin: 10px 0;
    }

.footer {
    margin-top: 30px;
    padding-bottom: 30px;
    color: #ccc;
}

    .footer .container {
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }

.btn {
    cursor: pointer;
}