@{
    ViewBag.Title = "Demos";
}

<section>
    <h1>Demos</h1>
    <h2>CSS Optimisation</h2>
    <ul>
        <li>@Html.ActionLink("Inline Critical Css", "InlineCriticalCss","Css")</li>
    </ul>
    <h2>JavaScript Optimisation</h2>
    <ul>
        <li>@Html.ActionLink("CDN Script Fallback for bundles", "CdnScriptFallback","JavaScript")</li>
        <li>@Html.ActionLink("Ajax Inlcudes", "AjaxIncludes","JavaScript")</li>
        
    </ul>
</section>

