@{
    ViewBag.Title = "Demos";
}

<section>
    <h1>Introduction</h1>
    <p class="lead">
        Loading ASP.NET projects <em>faster</em> using progressive enhancement to build on a core experience.
    </p>
    <p>The following are a set of techniques designed to make websites load faster using progressive enhancement to build on a core experience. I assume you are using the following</p>
    <ul>
        <li>
            Web Optimization Framework
        </li>
    </ul>
    <p>It&lsquo;s worth noting that none of the ideas used here are solely my own. I've built on the great work of many others and I will credit them wherever possible.</p>
    <h2>CSS Optimisation</h2>
    <ul>
        <li>@Html.ActionLink("Inline Critical Css", "InlineCriticalCss", "Css")</li>
    </ul>
    <h2>JavaScript Optimisation</h2>
    <ul>
        <li>@Html.ActionLink("Inline Critical JavaScript", "InlineCriticalScript", "JavaScript")</li>
        <li>@Html.ActionLink("Ajax Inlcudes", "AjaxIncludes", "JavaScript")</li>
    </ul>
    <h2>Web Fonts</h2>
    <ul>
        <li>
            Using Enhance to load TypeKit fonts asynchronously <small>(Coming soon)</small>
        </li>
        <li>
            Using Enhance to load Google font asynchronously <small>(Coming soon)</small>
        </li>
    </ul>

    <h2>SVG Icons</h2>
    <ul>
        <li>Using Enhance to load grunticons async <small>(Coming soon)</small></li>
    </ul>


</section>
