@{
    ViewBag.Title = "Demos";
}

<section>
    <h1>Introduction</h1>
    <p class="lead">[Introduction needed.]</p>
    <h2>CSS Optimisation</h2>
    <ul>
        <li>@Html.ActionLink("Inline Critical Css", "InlineCriticalCss","Css")</li>
    </ul>
    <h2>JavaScript Optimisation</h2>
    <ul>
        <li>@Html.ActionLink("Inline Critical JavaScript", "InlineCriticalScript","JavaScript")</li>
        <li>@Html.ActionLink("CDN Script Fallback for bundles", "CdnScriptFallback","JavaScript")</li>
        <li>@Html.ActionLink("Ajax Inlcudes", "AjaxIncludes","JavaScript")</li>
    </ul>
    <h2>Web Fonts</h2>
    <p>Coming soon.</p>

    <h2>SVG Icons</h2>
    <p>Coming soon.</p>

    
</section>
